---
---

@import "{{ site.theme }}";

img[src*="logo.jpeg"] {
  width: 120px;   /* ajuste o tamanho aqui */
  border-radius: 8px;
}
.sidebar-header h1 {
  font-size: 16px;   /* diminua até caber em uma linha */
  line-height: 1.2;
}
